[env]
_.file =".env"

[tools]
"cargo:cargo-generate" = "latest"

[tasks.build]
run = "swift build"

[tasks.test]
run = "clear && swift test"

[tasks.run]
run = "clear && swift run"

[tasks.prepare]
usage = "arg <day>"
run = [
    'mise run create ${usage_day?}',
    'mise run get-input ${usage_day?}',
]
