[env]
_.file =".env"

[tools]
"cargo:cargo-generate" = "latest"

[tasks.build]
run = "swift build"

[tasks.test]
run = "clear && swift test"

[tasks.run]
usage = "arg <day>"
run = '''
bin=$(printf 'Day%02d' ${usage_day?})
clear
swift run $bin
'''

[tasks.benchmark]
usage = "arg <day>"
run = '''
bin=$(printf 'Day%02d' ${usage_day?})
clear
swift build -c release
swift run $bin
'''

[tasks.prepare]
usage = "arg <day>"
run = [
    'mise run create ${usage_day?}',
    'mise run get-input ${usage_day?}',
]
